{% extends 'fourStars/base.html' %}

{% block title %}Nuevo Profesor{% endblock %}

{% block content %}
<main class="mx-24 relative">

    <style>
        dialog::backdrop {
            backdrop-filter: blur(5px);
        }
    </style>


    <!-- Modal for displaying errors -->
    <dialog id="error-modal" class="fixed boted border border-white border-opacity-30 rounded-md  w-1/3 bg-black  justify-center items-center">
       
        <div class="text-white p-6 rounded-lg  text-center">
            <h2 class="text-xl font-bold mb-4 text-red-600">Error</h2>
            <p id="error-message" class="mb-4">{{ error }}</p>
            <button class="bg-red-600 text-white p-2 rounded-md" onclick="closeModal()">Entendido</button>
        </div>
    </dialog>

    <section class="w-full md:w-2/3 lg:w-1/2 space-y-8 mx-auto">
        <h1 class="text-4xl font-bold tracking-tighter">Añade un nuevo profesor</h1>

        <form class="space-y-10" action="{% url 'add_professor' %}" method="POST">
            {% csrf_token %}

            <!-- Nombre del profesor -->
            <div class="border border-white border-opacity-30 p-4 rounded-md space-y-3">
                <div>
                    <h3 class="font-semibold">Nombre del profesor</h3>
                    <p class="opacity-40">Ingrese el nombre del profesor</p>
                </div>
                <div class="space-x-2">
                    <label for="first_name">Nombre</label>
                    <input class="bg-transparent border-white border-opacity-30 p-1 rounded-md" type="text"
                        name="first_name" id="first_name" value="{{ first_name|default_if_none:'' }}" required>
                </div>
            </div>

            <!-- Apellidos del profesor -->
            <div class="border border-white border-opacity-30 p-4 rounded-md space-y-3">
                <div>
                    <h3 class="font-semibold">Apellidos del profesor</h3>
                    <p class="opacity-40">Ingrese los apellidos</p>
                </div>
                <div class="space-x-2">
                    <label for="last_name">Apellidos</label>
                    <input class="bg-transparent border-white border-opacity-30 p-1 rounded-md" type="text"
                        name="last_name" id="last_name" value="{{ last_name|default_if_none:'' }}" required>
                </div>
            </div>

            <!-- Mail del profesor -->
            <div class="border border-white border-opacity-30 p-4 rounded-md space-y-3">
                <div>
                    <h3 class="font-semibold">Mail del profesor</h3>
                    <p class="opacity-40">Ingrese el mail del profesor</p>
                </div>
                <div class="space-x-2">
                    <label for="email">Mail</label>
                    <input class="bg-transparent border-white border-opacity-30 p-1 rounded-md" type="email"
                        name="email" id="email" pattern="[a-zA-Z0-9._%+-]+@eafit\.edu\.co"
                        value="{{ email|default_if_none:'' }}" required>
                </div>
            </div>

            <!-- Cursos del profesor -->
            <div class="border border-white border-opacity-30 p-4 rounded-md space-y-3 w-full">
                <div>
                    <h3 class="font-semibold">Cursos del profesor</h3>
                    <p class="opacity-40">Seleccione todos los cursos que dicta el profesor</p>
                </div>
                <h2>Cursos</h2>
                <div class="grid grid-cols-4 gap-3">
                    {% for course in courses %}
                    <div class="w-full">
                        <input class="text-black focus:ring-0 rounded" type="checkbox" id="course_{{ course.id }}"
                            name="cursos" value="{{ course.id }}" {% if course.id in selected_courses %}checked{% endif%}>
                        <label class="opacity-80" for="course_{{ course.id }}">{{ course }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <button class="font-semibold transition duration-200 hover:opacity-70 bg-white text-black p-2 rounded-md"
                type="submit">Añadir profesor</button>
        </form>
    </section>

</main>

<script>
    // Show modal with error message if there is one
    {% if error %}
    document.querySelector('dialog').showModal()
    {% endif %}

    // Function to close modal
    function closeModal() {
        document.querySelector('dialog').close()
    }
</script>



{% endblock %}