<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden">
{% load static tailwind_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../static/images/favicon.ico" type="image/x-icon">
    <title>{% block title %}My Django Project{% endblock %}</title>
    {% tailwind_css %}
</head>

<body class="bg-black text-white  relative  min-h-dvh grid overflow-x-hidden">

    <!-- Correct header tag opening and closing -->
    <header class="w-full top-0  z-10 sticky">
        {% include "partials/nav.html"  with hide_search=search %}
    </header>


        {% block content %}
        {% endblock %}


    {% include "partials/footer.html" %}

    <!-- In your base.html -->
    {% if messages %}
    <div class="dialog bg-white p-4 rounded-lg shadow-lg">
        {% for message in messages %}
        <p class="text-black
                {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

<script src="https://cdn.jsdelivr.net/npm/flowbite@1.6.5/dist/flowbite.min.js"></script>
</body>
<style>
    body{
        grid-template-rows: auto 1fr auto;
    }
</style>
</html>
