<!DOCTYPE html>
<html lang="en">
{% load static tailwind_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/541/541415.png" type="image/x-icon">
    <title>{% block title %}My Django Project{% endblock %}</title>
    {% tailwind_css %}
</head>
<body class="bg-gray-900 text-white flex flex-col justify-between  h-screen">

    {% include "partials/nav.html" %}

    <div class="container mx-auto mb-auto p-8">
        {% block content %}
        {% endblock %}
    </div>

 
    {% include "partials/footer.html" %}
</body>
</html>
