{% extends 'fourStars/base.html' %}

{% block title %}Professors{% endblock %}

{% block content %}
<section class="w-full flex items-center flex-col">
    <header>
        <h1 class="text-2xl font-bold mb-4">
            {{ professors|length }} profesores disponibles
            {% if search_query %}
                para "{{ search_query }}"
            {% endif %}
        </h1>
    </header>
    
    <ul class="professor-list flex flex-col gap-5 w-1/2">
        {% for professor_data in professors %}
        <li>
            {% include 'partials/professorCard.html' with professor=professor_data.professor average_rating=professor_data.average_rating ratings_count=professor_data.ratings_count courses=professor_data.courses %}
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
