

<nav class="bg-transparent bg-blur bg-gradient-to-b from-black  p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-lg font-semibold">
            <a href="{% url 'home' %}" class="text-white hover:text-yellow-400">Four Stars</a>
        </div>
        <form class="max-w-md mx-auto w-full" method="GET" action="{% url 'professors' %}">   
            <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative overflow-hidden rounded-lg">
                <div class="absolute inset-y-0 right-0 flex  bg-yellow-400 items-center px-3 group">
                    <button type="submit">  <svg class="w-4 h-4 text-black group-hover:text-white transition duration-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg></button>
                </div>
                <input type="search" name="search" id="search" value="{{ search_query }}" class="block w-full bg-black border-opacity-20  font-semibold py-2 px-4  text-md text-white border border-gray-300 
             outline-none focus:ring-0 focus:outline-none  focus:border-yellow-400 placeholder-opacity-0   rounded-lg" placeholder="Busca Tu Profesor..." />
               
            </div>
        </form>
        
        
        <ul class="flex space-x-4">
            <li><a href="{% url 'home' %}" class="text-white hover:text-yellow-400">Home</a></li>
            <li><a href="{% url 'professors' %}" class="text-white hover:text-yellow-400">Professors</a></li>
            <li><a href="{% url 'about' %}" class="text-white hover:text-yellow-400">About</a></li>
        </ul>
    </div>
</nav>