<div class="card flex gap-4 w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <div class=" w-1/8 gap-2 flex-col flex items-center">
        <h4 class="font-semibold">CALIDAD</h4>
        <div class="bg-slate-900 text-center py-2 w-full">
            <h1 class=" font-extrabold text-2xl ">{{ rating.rating }}</h1>
        </div>
    </div>
    <div>
        <h1 class=" font-extrabold text-xl ">{{ rating.student }}</h1>
        <p>{{ rating.review }}</p>
        <p class="text-gray-400">{{ rating.course }}</p>
    </div>
</div>